.idea/
.gradle/
.cxx/
afat/
build/
obj/
*.iml
local.properties
private.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj/jni/ffmpeg/build_android
*.jks
*.keystore
google-services.json
actions-runner
dist/

# Python
__pycache__/
*.pyc

.kotlin/
wheels/
